@{
    ViewData["Title"] = "List Box";
}

<h1>List Box</h1>


<form method="POST">
    <div class="form-group w-25">
            <label><b>Month</b></label>
            <select multiple class="form-control" name="ListBoxString">
                <option>January</option>
                <option>February</option>
                <option>March</option>
                <option>April</option>
                <option>May</option>
                <option>June</option>
                <option>July</option>
                <option>August</option>
                <option>September</option>
                <option>October</option>
                <option>November</option>
                <option>December</option>
            </select>
            <br>
            <button type="submit" class="btn btn-light" >Submit</button>
    </div>
</form>
