@{
    ViewData["Title"] = "Radio";
}

<h1>Radio</h1>


<form method="POST">
    <div class="form-group w-25">
        <label><b>Month</b></label>
        <div class="radio">
          <label><input type="radio" name="RadioSelected" value="January"> January</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="RadioSelected" value="February"> February</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="RadioSelected" value="March"> March</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="RadioSelected" value="April"> April</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="RadioSelected" value="May"> May</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="RadioSelected" value="June"> June</label>
        </div>  
        <div class="radio">
          <label><input type="radio" name="RadioSelected" value="July"> July</label>
        </div>  
        <div class="radio">
          <label><input type="radio" name="RadioSelected" value="August"> August</label>
        </div>  
        <div class="radio">
          <label><input type="radio" name="RadioSelected" value="September"> September</label>
        </div>  
        <div class="radio">
          <label><input type="radio" name="RadioSelected" value="October"> October</label>
        </div>  
        <div class="radio">
          <label><input type="radio" name="RadioSelected" value="November"> November</label>
        </div>  
        <div class="radio">
          <label><input type="radio" name="RadioSelected" value="December"> December</label>
        </div>  
        <button type="submit" class="btn btn-light" >Submit</button>
  </div>
</form>