@{
    ViewData["Title"] = "Text Box";
}

<h1>Text Box</h1>


<form method="POST">
    <div class="form-group w-25">
            <label><b>Text</b></label>
            <input type="text" class="form-control" name="TextBoxString"> <br>
            <button type="submit" class="btn btn-light" >Submit</button>
    </div>
</form>


