@{
    ViewData["Title"] = "Text Area";
}

<h1>Text Area</h1>


<form method="POST">
    <div class="form-group w-25">
    <label><b>Text</b></label>
    <textarea class="form-control" rows="6" name="TextAreaString"></textarea>
    <button type="submit" class="btn btn-light" >Submit</button>
  </div>
</form>
